<div *ngIf="loading">
  Loading ......................
</div>
<div *ngIf="!loading">
  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.phone}}</td>
    </tr>
    </tbody>
  </table>
  <ul>
    <li style="float: left; list-style: none;"><button (click)="loadPage(1)">First</button></li>
    <li style="float: left; list-style: none;"><button (click)="loadPrevious()">Previous</button></li>
    <li *ngFor="let i of pages" style="float: left; list-style: none;">
      <button (click)="loadPage(i)" *ngIf="i == currentPage" style="background: #72ff6a">{{i}}</button>
      <button (click)="loadPage(i)" *ngIf="i != currentPage">{{i}}</button>
    </li>
    <li style="float: left; list-style: none;"><button (click)="loadNext()">Next</button></li>
    <li style="float: left; list-style: none;"><button (click)="loadPage(lastPage)">Last</button></li>
  </ul>
</div>
