<div *ngIf="loading">
  Loading ......................
</div>
<div *ngIf="!loading">
  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.phone}}</td>
    </tr>
    </tbody>
  </table>
  <button (click)="loadNext()">Next</button>
  <ul>
    <li><button (click)="loadPage(1)">1</button></li>
    <li><button (click)="loadPage(2)">2</button></li>
    <li><button (click)="loadPage(3)">3</button></li>
  </ul>
</div>
